/*html,*/
/*body,*/
/*body > * {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/
/*body {*/
  /*height: 100vh;*/
  /*display: -webkit-box;*/
  /*display: -webkit-flex;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
  /*color: #404F59;*/
  /*-webkit-box-orient: horizontal;*/
  /*-webkit-box-direction: normal;*/
  /*-webkit-flex-direction: row;*/
      /*-ms-flex-direction: row;*/
          /*flex-direction: row;*/
  /*-webkit-box-align: center;*/
  /*-webkit-align-items: center;*/
      /*-ms-flex-align: center;*/
          /*align-items: center;*/
  /*-webkit-box-pack: center;*/
  /*-webkit-justify-content: center;*/
      /*-ms-flex-pack: center;*/
          /*justify-content: center;*/
/*}*/

#identity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #F4F5F6;
  z-index: 100;
}
#identity > div {
  position: absolute;
  width: 340px;
  height: 434px;
  top: -120px;
  bottom: 0px;
  left: 50%;
  margin: auto 0px auto -160px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #e4e9ec;
  border-radius: 16px;
}
#identity img {
  display: block;
  margin: 16px auto;
  width: 32px;
}
#identity h1 {
  width: 280px;
  margin: 0 auto 44px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  font-family: "Raleway";
}
#identity p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
#identity input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fafbfc;
  border: 1px solid #e4e9ec;
  border-radius: 6px;
}
#identity input[type="radio"] {
  margin-right: 8px;
}
#identity label {
  display: block;
  padding: 2px 0;
  font-size: 14px;
}
#identity button {
  width: 100%;
  margin-top: 30px;
  color: #FFF;
  border: 1px solid #27A6E1;
  border-radius: 6px;
  background-color: #27A6E1;
  padding: 0px 12px;
  font-size: 0.8rem;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.main-app {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}
.main-app > div {
  height: 100%;
}

.fa-spinner {
  font-size: 18px;
}

.page-landing h1 {
  padding-top: 80px;
  text-align: center;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.landing-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}
.landing-container a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.landing-container img {
  width: 200px;
}
.messenger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  min-width: 605px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 600ms;
          transition: opacity 600ms;
}
.timestamp {
  color: rgba(0,0,0,0.54);
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ebebeb;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-size: 0.9rem;
}
.avatar > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: #222;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #c3cdd4 inset;
}
.avatar.cluster {
  border-radius: 0;
  background: none;
}
.avatar.cluster > * {
  background-color: #ebebeb;
  position: absolute;
  height: 65%;
  width: 65%;
  font-size: 0.666em;
}
.avatar.cluster :last-child {
  margin-left: 33.333%;
  margin-top: 33.333%;
}

.conversation-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.conversation-list .participant {
  padding: 10px 12px;
  color: black;
  text-decoration: none;
  border-left: 3px solid transparent;
  border-bottom: 1px solid #e4e9ec;
}

.conversation-list .participant.unread-messages {
  font-weight: bold;
}

.conversation-list .participant.selected-conversation {
  background-color: #F5F5F5;
  border-left: 3px solid #19a5e4;
  max-width: 100%;
}

.conversation-list .avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  width: 48px;
  margin: 2px
}

.conversation-list .delete {
  cursor: pointer;
  color: gray;
  font-size: 20px;
  text-indent: -28px;
  opacity: 0;
}

.user-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.user-list .participant {
  padding: 4px 12px;
  min-height: 50px;
}
.user-list .participant:hover {
  background-color: rgba(0,0,0,0.15);
}
.user-list .avatar {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.panel-header {
  background-color: #ebebeb;
  box-sizing: border-box;
  border: 1px solid #E4E9EC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel-header .title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.panel-header a {
  color: rgba(0,0,0,0.5);
}
.panel-header .icon {
  font-size: 18px;
  padding: 6px 4px 4px 6px;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 6px;
}
.panel-header.conversations-header {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  background-color: rgb(25, 165, 228);
  text-align: left;
  text-transform: uppercase;
}
.panel-header.conversations-header .title {
  text-align: left;
}
.panel-header .edit-title input {
  width: 60%;
}

.edit-title-icon {
  padding: 4px 6px;
  margin-left: 4px;
}

.left-panel,
.right-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.left-panel {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 420px;
  min-width: 320px;
}
.left-panel .conversation-list {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.right-panel {
  border-left: 1px solid rgba(0,0,0,0.3);
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.angularjs .right-panel > div,
.angularjs .right-panel > div > div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.participant-picker {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  min-height: 50px;
  padding: 13px;
  position: relative;
  text-align: center;
}
.participant-picker .label {
  color: rgba(0,0,0,0.4);
  font-size: 14px;
  margin-right: 6px;
  padding: 2px 0;
  white-space: nowrap;
}
.participant-picker textarea {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  border: none;
  resize: none;
  outline: none;
  padding: 1px;
  color: rgba(0,0,0,0.87);
  overflow: hidden;
}
.typing-indicator-panel {
  height: 12px;
  padding: 3px 20px;
  font-size: 10px;
  text-align: center;
}
.message-composer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-top: 1px solid #dedede;
}
.message-composer .message-textarea {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  text-indent: 8px;
  resize: none;
  outline: none;
  margin: 10px;
  color: rgba(0,0,0,0.87);
  line-height: 30px;
  overflow: hidden;
  background-color: #fafbfc;
  border: 1px solid #E4E9EC;
  border-radius: 4px;
}

.message-list {
  display: block;
  position: relative;
  height: 100%;
  padding: 0 12px;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.message-list .layer-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -200px;
  opacity: 0.1;
}
.message-list .timestamp {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
  text-align: right;
}
.message-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.message-item:first-child {
  margin-top: 15px;
}
.message-item .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 55%;
}
.message-item .message-content {
  max-width: 60%;
}
.message-item .message-parts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.message-item .bubble {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16px;
  background-color: #19A5E4;
  overflow: hidden;
  margin: 1px 0;
  max-width: 100%;
}
.message-item .bubble.text {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
}
.message-item .avatar {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #c3cdd4 inset;
}
.message-item .name {
  color: rgba(0,0,0,0.4);
  font-size: 12px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 1px;
  padding-left: 8px;
}
.message-item .message-status {
  display: block;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
  font-weight: normal;
  line-height: 1.1;
}

.message-item.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.message-item.right .bubble {
  background-color: #dedede;
}
.message-item.right .message-parts {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.participant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.participant.selected {
  background-color: #f0f0f0;
}
.participant .avatar {
  margin-right: 10px;
}
.participant .info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.participant .main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.participant .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  line-height: 1.4;
}
.participant .timestamp {
  color: rgba(0,0,0,0.4);
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
}
.participant .description {
  color: rgba(0,0,0,0.4);
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.participant:hover .delete {
  opacity: 1;
}

.dashboard #content {
  width: 100% !important;
}

#content {
  padding: 0 !important;
}
