<!doctype html>
<html ng-app="ChatApp" class='angularjs'>
<head>
    <meta charset="utf-8">

    <title>ChokeCancer Chat</title>
    <meta name="description" content="ReproHealth Chat">

    <link rel="shortcut icon" href="http://static.layer.com/web/favicon.png">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Common CSS and Identity dialog -->
    <link href="{{ static('chat/common/style.css') }}" rel="stylesheet">
    <script src="{{ static('chat/common/layerSample.js') }}"></script>

    <!-- Layer Web SDK -->
    <script src='//cdn.layer.com/sdk/1.0/layer-websdk.min.js'></script>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js'></script>
    <script src="{{ static('chat/lib/ng-infinite-scroll.min.js') }}"></script>

    <script type="text/javascript">
        var user_json = '{{ user | safe }}';
        var user = JSON.parse(user_json);
        var appId = "{{ app_id }}";
{#        var sessionToken = "{{ session_token }}"#}
        var users_json = '{{ users_list | safe }}';
        var users = JSON.parse(users_json)
    </script>
    <!-- Angular app -->
    <script src="{{ static('chat/app/app.js') }}"></script>
    <script src="{{ static('chat/app/main-controllers.js') }}"></script>
    <script src="{{ static('chat/app/conversation-panel-controllers.js') }}"></script>
    <script src="{{ static('chat/app/new-conversation-panel-controllers.js') }}"></script>
    <script src="{{ static('chat/app/repro-services.js') }}"></script>
</head>
<body ng-controller="appCtrl">
<div class="main-app" ng-include="'{{ static('chat/partials/app.html') }}'"
     ng-if="appCtrlState.isReady"></div>
</body>
</html>
