{% extends "admin/base_chat_site.html" %}
{% load i18n admin_static %}

{% block html %}{{ block.super }}ng-app="ChatApp" class='angularjs'{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "chat/lib/please-wait.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <style>
        body{
            height: 100vh;
        }
        #container {
            height: 100%;
            overflow: hidden;
        }
        .dashboard #content {
            width: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                top: 60px;
        }

        .pg-loading-screen .pg-loading-html p.loading-message {
            font-size: 20px;
            margin-bottom: 100px;
        }
        .pg-loading-screen .pg-loading-html p {
            color: #FFF;
            font-weight: 300;
        }

        .crop {
            width: 200px;
            height: 150px;
            overflow: hidden;
        }

        .crop img {
            width: 400px;
            height: 300px;
            margin: -75px 0 0 -100px;
        }
        .sk-three-bounce {
          margin: 40px auto;
          width: 80px;
          text-align: center; }
          .sk-three-bounce .sk-child {
            width: 20px;
            height: 20px;
            background-color: #FFF;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
                    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
          .sk-three-bounce .sk-bounce1 {
            -webkit-animation-delay: -0.32s;
                    animation-delay: -0.32s; }
          .sk-three-bounce .sk-bounce2 {
            -webkit-animation-delay: -0.16s;
                    animation-delay: -0.16s; }

        @-webkit-keyframes sk-three-bounce {
          0%, 80%, 100% {
            -webkit-transform: scale(0);
                    transform: scale(0); }
          40% {
            -webkit-transform: scale(1);
                    transform: scale(1); } }

        @keyframes sk-three-bounce {
          0%, 80%, 100% {
            -webkit-transform: scale(0);
                    transform: scale(0); }
          40% {
            -webkit-transform: scale(1);
                    transform: scale(1); } }

    </style>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

{#    <!-- Common CSS and Identity dialog -->#}
    <link href="{% static 'chat/common/style.css' %}" rel="stylesheet">
{% endblock %}

{% block extrahead %}{% endblock %}

{% block body %}{{ block.super }}ng-controller="appCtrl"{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="main-app" ng-include="'{% static 'chat/partials/app2.html' %}'"
         ng-if="appCtrlState.isReady"></div>
{% endblock %}

{% block bodyscripts %}
    <script src="{% static 'chat/lib/please-wait.min.js' %}"></script>
    <script type="text/javascript">
      var loadingScreen = pleaseWait({
        logo: "/static/images/layer_logo.png",
        backgroundColor: '#417690',
        loadingHtml: '<p class="loading-message">Loading Chat Service</p><div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div>"',
    });
    </script>

    <script src="{% static 'spika/js/adapter.js' %}"></script>
    <!-- Layer Web SDK -->
    <script src='//cdn.layer.com/sdk/1.0/layer-websdk.min.js'></script>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js'></script>
    <script src="{% static 'chat/lib/ng-infinite-scroll.min.js' %}"></script>
    <script src="{% static 'chat/common/layerSample.js' %}"></script>

    <script type="text/javascript">
        var user_json = '{{ user_json | safe }}';
        var user = JSON.parse(user_json);
        var appId = "{{ app_id }}";
{#        var sessionToken = "{{ session_token }}";#}
        var users_json = '{{ users_list | safe }}';
        var users = JSON.parse(users_json);
        var spikaBaseUrl = '{{ spika_base_url }}';
    </script>
    <!-- Angular app -->
    <script src="{% static 'chat/app/app.js' %}"></script>
    <script src="{% static 'chat/app/main-controllers2.js' %}"></script>
    <script src="{% static 'chat/app/conversation-panel-controllers2.js' %}"></script>
{#    <script src="{% static 'chat/app/new-conversation-panel-controllers.js' %}"></script>#}
    <script src="{% static 'chat/app/repro-services.js' %}"></script>
{% endblock %}
