<div ng-controller='chatCtrl'>
  <div class="messenger">
    <div class="left-panel"
         ng-controller="conversationListCtrl">

        <div class="panel-header conversations-header"
              ng-include="'/static/chat/partials/left-column-header.html'">
        </div>
        <div class="conversation-list"
              ng-include="'/static/chat/partials/conversation-list2.html'">
        </div>
    </div>

    <div class="right-panel">
      <div ng-include="'/static/chat/partials/conversation-panel.html'"></div>
    </div>
  </div>
</div>
