<a href="#" class="participant" ng-class="{'selected-conversation': room.id === chatCtrlState.currentConversation.id}" ng-click="setConversation(room)" ng-repeat="room in chat.rooms">
  <div class="avatar cluster"><span>A</span></div>
  <div class="info">
    <div class="main">
      <span class="title">{{ room.name }}</span>
      <span class="delete fa fa-times-circle" title="Delete conversation"></span>
    </div>
  </div>
</a>
