<div ng-controller="conversationCtrl">
    <div class="panel-header">
        <div class="title" >
            <span ng-hide="chatCtrlState.currentConversation"> &larr; Create a new conversation or select a conversation from the list.</span>
            <div class="title-inner"
                 ng-hide="editingTitle">
                {{getConversationTitle(chatCtrlState.currentConversation)}}
                <a href='#' class='edit-title-icon' title="Edit conversation title" ng-click='setEditTitle(true)'>
                    <i ng-show="chatCtrlState.currentConversation" class="fa fa-pencil"></i>
                </a>
            </div>

            <div class="edit-title" ng-show="editingTitle">
                <input type="text" ng-value="getConversationTitle(chatCtrlState.currentConversation)"
                       ng-enter="saveTitle()" ng-model='chatCtrlState.currentConversation.metadata.title'/>
                <button ng-click="setEditTitle(false)" >Cancel</button>
            </div>
        </div>
    </div>

    <div class='message-list' ng-controller="messageListCtrl"
         ng-hide="chatCtrlState.showUserList"
         infinite-scroll="nextPage()" infinite-scroll-distance='2' >
        <img ng-hide="chatCtrlState.currentConversation" class="layer-logo" src="http://static.layer.com/logo-only-black.svg" />
        <div class="message-item" ng-repeat="message in data">
            <div class="avatar">{{getSenderInitials(message)}}</div>
            <div class="message-content">
                <span class='name'>{{getUserNameById(message.sender.userId)}}</span>
                <div class="message-parts">
                    <div class="bubble text" ng-if="message.parts[0].mimeType == 'text/plain'">
                        {{message.parts[0].body}}
                    </div>
                    <div class="bubble crop" ng-if="message.parts[0].mimeType == 'image/jpeg'">
                        <img ng-src="{{message.parts[0].url}}" />
                    </div>
                </div>
            </div>
            <div class="timestamp">
                {{getMessageDate(message)}}
                <span class='message-status'>{{getMessageStatus(message)}}</span>
            </div>
        </div>
    </div>

    <div class='typing-indicator-panel' ng-hide="chatCtrlState.showUserList" ng-controller='typingIndicatorCtrl'>
        {{getText()}}
    </div>

    <div class="message-composer" ng-show="chatCtrlState.currentConversation">
        <input ng-enter="send()" ng-model='sendText' class="message-textarea" placeholder="Enter a message..." rows="1"></input>
    </div>
</div>
